Source: artwork-wallpapers-netrunner-zeronet-rock64
Section: misc
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8

Package: artwork-wallpapers-netrunner-zeronet-rock64
Architecture: any
Depends: ${misc:Depends}
Description: wallpapers for Netrunner Zeronet Rock64
 This package provides wallpapers for Netrunner Zeronet Rock64
